

.logo_container {
  position: absolute;
  height:100vh;
  width:100%;
  top:0px;
  left:0px;
}


.logo {
  position: absolute;
  top: 20%;
  transform: translateY(-50%); 
  left: 50%; 
  transform: translateX(-50%); 
  cursor:pointer;
  transition:opacity 1.5s;  
}

.dark {
	position: absolute;
	top:0px;
	left:0px;
	height:100vh;
	width:100%;
	background-image:url(../images/dark.png);
	opacity:0.5;
	transition:opacity 2s;  
}

.off {
	opacity:0;
}

.jauge_container {
	border:#000 2px solid;
	border-radius:5px;
	background-color:#FFF;
	position:absolute;
	top:20px;
	width:200px;
	height:30px;
	opacity:0.8;
	overflow: hidden;
}

.jauge_value {
	background-color:#00FF00;
	border-radius:5px;	
	height:100%;
}

.playerA {
	left:45px;
}

.playerA .jauge_value {
	background-color:#3744c1;
	border-radius:0;
	height:100%;
}
.playerB {
	right:20px;
}

.playerB .jauge_value {
	background-color:#ff2424;
	border-radius:0;
	height:100%;
}